/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 400 16px "HiraginoSansGB-W3";
    color: #2B3A42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #2086d7;
    text-decoration: none;
    -webkit-transition: color 250ms;
    transition: color 250ms;
}

a.icon-link {
    display: inline-block;
    font-size: 0.7em;
    margin-left: 16px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #b3b3b3;
}

a.icon-link:hover {
    color: #2086d7;
}

a:hover {
    color: #1a6aab;
}


/* Style details */

.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000000;
    background-color: #ffffff;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.navigation__logo {
    margin: 30px auto;
}

.logo {
    float: left;
    width: auto;
    height: 67px;
    opacity: 0.9;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
}

.navigation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0 40px;
}

.navigation__links {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.navigation__link {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    margin: 55px 24px;
    line-height: 1;
}

.navigation__link:last-child {
    margin-right: 24px;
}

.navigation__link--active {
    color: #ffffff;
    padding: 12px 27.5px;
    background: #FF6219;
    border-radius: 5px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    margin: 43px 24px;
}

.navigation__link--active:hover {
    color: #ffffff;
}

.jumbotron {
    position: relative;
    padding-top: 117px;
    padding-bottom: 159px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    padding-top: 117px;
    padding-bottom: 49px;
}

.jumbotron-codelines {
    min-width: 1280px;
    background: url(futian-bg.jpg);
    background-position: center;
    background-size: cover;
}

.container-lg {
    max-width: 1280px;
    padding: 0 40px;
    margin-right: auto;
    margin-left: auto;
}

.position-relative {
    position: relative !important;
}

.flex-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.d-md-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.col-md-7 {
    width: 847px;
    height: 304px;
    padding-right: 24px !important;
    padding-left: 81px !important;
}

.col-md-5 {
    width: 353px;
    padding: 0 23px;
}

.rounded-1 {
    color: #666666;
    /* opacity: 0.58;
    background: #FFFFFF; */
    background: rgba(255, 255, 255, .58);
    box-shadow: 0 0 4px 0 rgba(200, 197, 197, 0.50);
    padding: 30px 26px 58px 25px !important;
}

.rounded-1 h2 {
    font-family: HiraginoSansGB-W6;
    font-size: 20px;
    line-height: 1;
    color: #666666;
    padding-bottom: 26px;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control,
.form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 14px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.input-block {
    display: block;
    width: 100%;
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #ffffff;
}

.home-hero-signup .form-control-lg {
    width: 100%;
    min-height: 38px;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 1;
    border-radius: 0;
}

.form-group {
    margin: 26px 0;
}

.mt-0 {
    margin-top: 0 !important;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btn-primary {
    color: #fff;
    background-color: #FFA81A;
    background-image: linear-gradient(-180deg, rgb(248, 182, 77) 0%, rgb(241, 153, 11) 90%);
}

.btn-large {
    padding: 11px 20px;
    font-size: inherit;
    border-radius: 5px;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.f4 {
    font-size: 16px !important;
}

.alt-lead {
    font-family: HiraginoSansGB-W3;
    position: relative;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .71);
    border-radius: 100px;
    padding: 8px 17px 8px 58px;
    line-height: 1.25;
}

.mb-4 {
    width: 352px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.futian-loudspeaker {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(futian-loudspeaker.png);
    background-repeat: no-repeat;
    left: 19px;
}

.text-md-left {
    margin-top: 77px;
}

.footer {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: #9aa5b8;
    font-size: 12px;
}